Repository spatialos/gdk-for-unity, pull requests merged in 2019-06, with the labels that each got.

#962 Remove workaround for a schema component update bug (WRK-1031).
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapKeyComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapValueComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveOptionalComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveRepeatedComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveSingularComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/NestedComponentComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/alternateschemasyntax/ConnectionComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/blittabletypes/BlittableComponentComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsWithCommandsComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsWithEventsComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/nonblittabletypes/NonBlittableComponentComponentDiffDeserializer.cs
  workers/unity/Packages/com.improbable.gdk.deploymentlauncher/Commands/Assembly.cs
  workers/unity/Packages/com.improbable.gdk.tools/.CodeGenerator/GdkCodeGenerator/Templates/ComponentDiffDeserializerGenerator.tt
Labels: A: tooling, size/M

#961 Move runtime IP to EditorPref / DevAuthToken to PlayerPref
  CHANGELOG.md
  workers/unity/Assets/Config/GdkToolsConfiguration.json
  workers/unity/Assets/Plugins.meta
  workers/unity/Packages/com.improbable.gdk.core/Config/RuntimeConfig.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorkerConnector.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/LaunchMenu.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Improbable.Gdk.Mobile.asmdef
  workers/unity/Packages/com.improbable.gdk.mobile/Worker/DefaultMobileWorkerConnector.cs
  workers/unity/Packages/com.improbable.gdk.tools/DevAuthTokenUtils.cs
  workers/unity/Packages/com.improbable.gdk.tools/GdkToolsConfiguration.cs
  workers/unity/Packages/com.improbable.gdk.tools/GdkToolsConfigurationWindow.cs
  workers/unity/Packages/com.improbable.gdk.tools/MenuPriorities.cs
  workers/unity/ProjectSettings/EditorBuildSettings.asset
  workers/unity/ProjectSettings/GraphicsSettings.asset
  workers/unity/ProjectSettings/ProjectSettings.asset
Labels: A: core, A: mobile, A: playground, A: tooling, size/L

#964 2019.1 update + update menu screenshot
  docs/assets/unity-spatialos-menu.png
  docs/fragments/machine-setup.md
  docs/projects/fps/tutorial.md
Labels: T: documentation, size/S

#965 Remove blittablebool
  CHANGELOG.md
  test-project/Assets/EditmodeTests/Components/BlittableComponentTests.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapKey.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapKeyComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapKeyData.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapKeyProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapValue.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapValueComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapValueData.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapValueProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveOptional.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveOptionalComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveOptionalData.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveOptionalProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveRepeated.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveRepeatedComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveRepeatedData.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveRepeatedProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveSingular.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveSingularComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveSingularData.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/blittabletypes/BlittableComponent.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/blittabletypes/BlittableComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/blittabletypes/FirstCommandResponse.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/blittabletypes/FirstEventPayload.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/nonblittabletypes/FirstEventPayload.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/nonblittabletypes/NonBlittableComponent.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/nonblittabletypes/NonBlittableComponentComponentReaderWriter.cs
  workers/unity/Packages/com.improbable.gdk.core/Components/Option.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Authority/AuthorityComponents.cs
  workers/unity/Packages/com.improbable.gdk.core/Utility/BlittableBool.cs
  workers/unity/Packages/com.improbable.gdk.core/Utility/BlittableBool.cs.meta
  workers/unity/Packages/com.improbable.gdk.tools/.CodeGenerator/GdkCodeGenerator/src/Generation/Model/UnityTypeMappings.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Components/KinematicStateWhenAuth.cs
Labels: A: core, A: tooling, A: transform-synchronization, size/XL

#966 Ensure Worker World is always removed from PlayerLoop
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorkerConnector.cs
Labels: A: core, size/S

#967 Fix PlayerLoop breaking on disconnected worker
  workers/unity/Packages/com.improbable.gdk.core/Utility/PlayerLoopUtils.cs
Labels: A: core, size/XS

#968 UTY-2058: Update launch config templates
  CHANGELOG.md
  cloud_launch.json
  default_launch.json
Labels: A: maintenance, size/XS

#969 UTY-2061: Exclude schema directory when cleaning workers
  CHANGELOG.md
  workers/unity/Packages/com.improbable.gdk.buildsystem/Util/EditorPaths.cs
  workers/unity/Packages/com.improbable.gdk.buildsystem/WorkerBuilder.cs
Labels: A: build-system, size/S

#971 Hotfix - Received Updates should be a reactive component
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapKey.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapKeyProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapValue.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveMapValueProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveOptional.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveOptionalProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveRepeated.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveRepeatedProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveSingular.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/ExhaustiveSingularProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/NestedComponent.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/NestedComponentProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/alternateschemasyntax/Connection.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/alternateschemasyntax/ConnectionProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/blittabletypes/BlittableComponent.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/blittabletypes/BlittableComponentProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFields.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsWithCommands.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsWithCommandsProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsWithEvents.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/componentswithnofields/ComponentWithNoFieldsWithEventsProviders.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/nonblittabletypes/NonBlittableComponent.cs
  test-project/Assets/Generated/Source/improbable/gdk/tests/nonblittabletypes/NonBlittableComponentProviders.cs
  workers/unity/Packages/com.improbable.gdk.tools/.CodeGenerator/GdkCodeGenerator/Templates/UnityComponentDataGenerator.tt
  workers/unity/Packages/com.improbable.gdk.tools/.CodeGenerator/GdkCodeGenerator/Templates/UnityReferenceTypeProviderGenerator.tt
Labels: A: tooling, size/M

#973 Remove obsolete manager functions
  workers/unity/Assets/Playground/Scripts/Camera/FollowCameraSystem.cs
  workers/unity/Assets/Playground/Scripts/Camera/InitCameraSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/CollisionProcessSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/CubeMovementSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/ProcessColorChangeSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/TriggerColorChangeSystem.cs
  workers/unity/Assets/Playground/Scripts/DisconnectSystem.cs
  workers/unity/Assets/Playground/Scripts/Metrics/MetricSendSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/LocalPlayerInputSync.cs
  workers/unity/Assets/Playground/Scripts/Player/MoveLocalPlayerSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/PlayerCommandsSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/ProcessLaunchCommandSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/ProcessRechargeSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/ProcessScoresSystem.cs
  workers/unity/Assets/Playground/Scripts/UI/InitUISystem.cs
  workers/unity/Assets/Playground/Scripts/UI/UpdateUISystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/AcknowledgeAuthorityLossSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/CleanReactiveComponentsSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/CommandSenderComponentSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/ReactiveCommandComponentSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/ReactiveComponentSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/ReactiveComponentSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/WorldCommandsCleanSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/WorldCommandsSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Subscriptions/Systems/CommandCallbackSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Subscriptions/Systems/ComponentCallbackSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Subscriptions/Systems/ComponentConstraintsCallbackSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Subscriptions/Systems/RequireLifecycleSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Subscriptions/Systems/SubscriptionSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Subscriptions/Systems/WorkerFlagCallbackSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/CleanTemporaryComponentsSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/CommandSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/ComponentSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/ComponentUpdateSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/CustomSpatialOSSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/EcsViewSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/EntitySystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/SpatialOSReceiveSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/SpatialOSSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/WorkerDisconnectCallbackSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/WorkerSystem.cs
  workers/unity/Packages/com.improbable.gdk.gameobjectcreation/GameObjectInitializationSystem.cs
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/Systems/PlayerCreation/HandleCreatePlayerRequestSystem.cs
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/Systems/PlayerCreation/SendCreatePlayerRequestSystem.cs
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/Systems/PlayerHeartbeat/HandlePlayerHeartbeatRequestSystem.cs
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/Systems/PlayerHeartbeat/HandlePlayerHeartbeatResponseSystem.cs
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/Systems/PlayerHeartbeat/PlayerHeartbeatInitializationSystem.cs
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/Systems/PlayerHeartbeat/SendPlayerHeartbeatRequestSystem.cs
  workers/unity/Packages/com.improbable.gdk.testutils/Tests/Editmode/HybridGdkSystemTestBaseTests.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/ResetForAuthorityGainedSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/TickSystem.cs
Labels: A: core, A: game-object-creation, A: player-lifecycle, A: playground, A: transform-synchronization, size/L

#974 Missed obsolete managers
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/DefaultApplyLatestTransformSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/DefaultUpdateLatestTransformSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/DirectTransformUpdateSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/GetTransformValueToSetSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/InterpolateTransformSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/RateLimitedPositionSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/RateLimitedTransformSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/SetKinematicFromAuthoritySystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/TickRateEstimationSystem.cs
Labels: A: transform-synchronization, size/S

#979 Make DeferredDisposeWorker protected
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorkerConnector.cs
Labels: A: core, size/XS

#980 Updating docs for release
  docs/fragments/machine-setup.md
  docs/modules/mobile/prepare-project.md
  docs/projects/fps/tutorial.md
Labels: T: documentation, size/XS

#975 Release 0.2.3
  CHANGELOG.md
  packer.config.json
  workers/unity/Assets/link.xml
  workers/unity/Packages/com.improbable.gdk.buildsystem/package.json
  workers/unity/Packages/com.improbable.gdk.core/Components/WorkerEntityComponents.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorkerConnector.cs
  workers/unity/Packages/com.improbable.gdk.core/package.json
  workers/unity/Packages/com.improbable.gdk.deploymentlauncher/package.json
  workers/unity/Packages/com.improbable.gdk.gameobjectcreation/package.json
  workers/unity/Packages/com.improbable.gdk.mobile/package.json
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/package.json
  workers/unity/Packages/com.improbable.gdk.querybasedinteresthelper/package.json
  workers/unity/Packages/com.improbable.gdk.testutils/package.json
  workers/unity/Packages/com.improbable.gdk.tools/package.json
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/package.json
  workers/unity/ProjectSettings/BurstAotSettings_Android.json
  workers/unity/ProjectSettings/BurstAotSettings_StandaloneLinux.json
  workers/unity/ProjectSettings/BurstAotSettings_StandaloneOSX.json
  workers/unity/ProjectSettings/BurstAotSettings_StandaloneWindows.json
  workers/unity/ProjectSettings/BurstAotSettings_iOS.json
Labels: A: build-system, A: core, A: game-object-creation, A: mobile, A: player-lifecycle, A: playground, A: tooling, A: transform-synchronization, size/M

#972 ECS Docs Refresh
  docs/reference/concepts/entity-lifecycle.md
  docs/reference/glossary.md
  docs/reference/workflows/ecs/concepts/entity-contracts.md
  docs/reference/workflows/ecs/concepts/system-update-order.md
  docs/reference/workflows/ecs/concepts/temporary-components.md
  docs/reference/workflows/ecs/entity-contracts.md
  docs/reference/workflows/ecs/interaction/authority.md
  docs/reference/workflows/ecs/interaction/commands/component-commands.md
  docs/reference/workflows/ecs/interaction/component-commands.md
  docs/reference/workflows/ecs/interaction/component-data.md
  docs/reference/workflows/ecs/interaction/component-updates.md
  docs/reference/workflows/ecs/interaction/events.md
  docs/reference/workflows/ecs/interaction/reactive-components/entity-contracts.md
  docs/reference/workflows/ecs/interaction/reactive-components/overview.md
  docs/reference/workflows/ecs/interaction/world-commands.md
  docs/reference/workflows/ecs/reactive-components.md
  docs/reference/workflows/ecs/system-update-order.md
  docs/reference/workflows/ecs/temporary-components.md
  docs/reference/workflows/ecs/worker-entity.md
  docs/reference/workflows/monobehaviour/interaction/reader-writers/index.md
  docs/toc.md
Labels: T: documentation, size/XXL

#986 Fix PATH errors on Windows
  CHANGELOG.md
  workers/unity/Packages/com.improbable.gdk.tools/Common.cs
Labels: A: tooling, T: bug, size/M

#987 Use Unity logger types in ForwardingDispatcher
  CHANGELOG.md
  workers/unity/Packages/com.improbable.gdk.core/Logging/ForwardingDispatcher.cs
Labels: A: core, T: bug, size/XS

#988 Fix SetKinematicFromAuthoritySystem regression
  CHANGELOG.md
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/SetKinematicFromAuthoritySystem.cs
Labels: A: transform-synchronization, size/XS

#991 Fix code generation path escaping
  CHANGELOG.md
  workers/unity/Packages/com.improbable.gdk.tools/.CodeGenerator/GdkCodeGenerator/src/CodeGenerator.cs
Labels: A: tooling, T: bug, size/XS

#993 Fix tutorial
  docs/projects/fps/tutorial.md
Labels: T: documentation, size/XS

#994 Tutorial hotfix cherry-pick
  docs/projects/fps/tutorial.md
Labels: T: documentation, size/XS

#970 enabling iOS workflows via Unity
  .gitignore
  CHANGELOG.md
  workers/unity/Packages/com.improbable.gdk.buildsystem/Configuration/WorkerBuildData.cs
  workers/unity/Packages/com.improbable.gdk.buildsystem/Util/EditorPaths.cs
  workers/unity/Packages/com.improbable.gdk.buildsystem/WorkerBuilder.cs
  workers/unity/Packages/com.improbable.gdk.core/Editor/CommonUIElements.cs
  workers/unity/Packages/com.improbable.gdk.core/Editor/CommonUIElements.cs.meta
  workers/unity/Packages/com.improbable.gdk.deploymentlauncher/DeploymentLauncherWindow.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/AndroidLaunchUtils.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/AndroidLaunchUtils.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/Improbable.Gdk.Mobile.Editor.asmdef
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/LaunchMenu.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/MobileLaunchConfig.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/MobileLaunchConfig.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/MobileLaunchUtils.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/MobileLaunchUtils.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/MobileLauncherWindow.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/MobileLauncherWindow.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/iOSLaunchUtils.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/iOSLaunchUtils.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Utility/LaunchArguments.cs
  workers/unity/Packages/com.improbable.gdk.tools/Common.cs
  workers/unity/Packages/com.improbable.gdk.tools/GdkToolsConfiguration.cs
  workers/unity/Packages/com.improbable.gdk.tools/GdkToolsConfigurationWindow.cs
  workers/unity/Packages/com.improbable.gdk.tools/LocalLaunch.cs
Labels: A: build-system, A: core, A: mobile, A: playground, A: tooling, size/XXL

#995 enabling scaler v2
  .buildkite/premerge.steps.yaml
  .buildkite/release-qa.steps.yaml
Labels: A: playground, size/XS

#996 Fix blog link in get-started set-up page
  docs/projects/fps/get-started/set-up.md
Labels: T: documentation, size/XS

#997 cherry pick blog link fix in get-started set-up page (#996)
  docs/projects/fps/get-started/set-up.md
Labels: T: documentation, size/XS

#989 Update Deployments docs
  docs/reference/concepts/deployments.md
Labels: T: documentation, size/M

#1000 Mobile launcher label fix
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/AndroidLaunchUtils.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/MobileLauncherWindow.cs
Labels: A: mobile, size/XS

#990 Transform sync bandwidth optimisations
  CHANGELOG.md
  UPGRADE_GUIDE.md
  snapshots/default.snapshot
  workers/unity/Assets/Playground/Editor/Improbable.Playground.Editor.asmdef
  workers/unity/Assets/Playground/Editor/SnapshotGenerator/SnapshotGenerator.cs
  workers/unity/Assets/Playground/Scripts/DisconnectSystem.cs
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/CheckForPlayerCollision.cs
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/RotationBehaviour.cs
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/SpawnCubeCommandReceiver.cs
  workers/unity/Assets/Playground/Scripts/Player/ProcessLaunchCommandSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/.schema/improbable/gdk/transform_synchronization/transform_internal.schema
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Improbable.Gdk.TransformSynchronization.asmdef
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/MonoBehaviours/TransformSynchronization.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/DefaultApplyLatestTransformSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/DefaultUpdateLatestTransformSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/DirectTransformUpdateSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/GetTransformValueToSetSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/InterpolateTransformSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/RateLimitedPositionSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/RateLimitedTransformSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/ResetForAuthorityGainedSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/SetKinematicFromAuthoritySystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/Systems/TickRateEstimationSystem.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/TransformSynchronizationHelper.cs
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/TransformUtils.cs
Labels: A: playground, A: transform-synchronization, size/XL

#981 Worker abstraction rework
  CHANGELOG.md
  UPGRADE_GUIDE.md
  test-project/Assets/EditmodeTests/Subscriptions/ReaderWriter/InjectionCriteriaTests.cs
  workers/unity/Assets/Playground/Scripts/Worker/ClientWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/GameLogicWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/MobileClientWorkerConnector.cs
  workers/unity/Packages/com.improbable.gdk.buildsystem/WorkerBuilder.cs
  workers/unity/Packages/com.improbable.gdk.core/Components/Option.cs
  workers/unity/Packages/com.improbable.gdk.core/Config/RuntimeConfig.cs
  workers/unity/Packages/com.improbable.gdk.core/Logging/ForwardingDispatcher.cs
  workers/unity/Packages/com.improbable.gdk.core/Logging/ILogDispatcher.cs
  workers/unity/Packages/com.improbable.gdk.core/Logging/LoggingDispatcher.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/ReactiveComponentSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/ReactiveComponents/Systems/WorldCommandsSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/ComponentSendSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/SpatialOSReceiveSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Systems/WorkerSystem.cs
  workers/unity/Packages/com.improbable.gdk.core/Tests/Editmode/Subscriptions/SubscriptionTestBase.cs
  workers/unity/Packages/com.improbable.gdk.core/Tests/Editmode/Systems/SpatialOSSendSystemTests.cs
  workers/unity/Packages/com.improbable.gdk.core/Tests/Editmode/Utility/CommandLineUtilityTest.cs
  workers/unity/Packages/com.improbable.gdk.core/Utility/CommandLineUtility.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/ConnectionFlowInitializers.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/ConnectionFlowInitializers.cs.meta
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/ConnectionFlows.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/ConnectionFlows.cs.meta
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/ConnectionParameterInitializers.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/ConnectionParameterInitializers.cs.meta
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/IConnectionHandler.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/IConnectionHandlerBuilder.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/IConnectionHandlerBuilder.cs.meta
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/MockConnectionHandler.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/MultiThreadedSpatialOSConnectionHandler.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/SpatialOSConnectionHandler/SpatialOSConnectionHandler.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/SpatialOSConnectionHandlerBuilder.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ConnectionHandlers/SpatialOSConnectionHandlerBuilder.cs.meta
  workers/unity/Packages/com.improbable.gdk.core/Worker/DefaultWorkerConnector.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ICommandMetaDataStorage.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/ICommandMetaDataStorage.cs.meta
  workers/unity/Packages/com.improbable.gdk.core/Worker/Worker.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorkerConnector.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorkerInWorld.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorkerInWorld.cs.meta
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorldCommandMetaDataStorage.cs
  workers/unity/Packages/com.improbable.gdk.core/Worker/WorldCommandMetaDataStorage.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Utility/LaunchArguments.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Utility/MobileConnectionFlowInitializer.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Utility/MobileConnectionFlowInitializer.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Utility/MobileConnectionParametersInitializer.cs
  workers/unity/Packages/com.improbable.gdk.mobile/Utility/MobileConnectionParametersInitializer.cs.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Worker.meta
  workers/unity/Packages/com.improbable.gdk.mobile/Worker/DefaultMobileWorkerConnector.cs
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/PlayerLifecycleHelper.cs
  workers/unity/Packages/com.improbable.gdk.testutils/TestLogDispatcher.cs
Labels: A: build-system, A: core, A: game-object-creation, A: mobile, A: player-lifecycle, A: playground, A: tooling, A: transform-synchronization, size/XXL

#998 Update docs post-transform module update
  docs/modules/transform-sync/how-it-works.md
Labels: T: documentation, size/M

#1004 Fix iOS tooling regex
  workers/unity/Packages/com.improbable.gdk.mobile/Editor/iOSLaunchUtils.cs
Labels: A: mobile, size/XS

#1003 Release 0.2.4
  CHANGELOG.md
  UPGRADE_GUIDE.md
  packer.config.json
  workers/unity/Packages/com.improbable.gdk.buildsystem/package.json
  workers/unity/Packages/com.improbable.gdk.core/package.json
  workers/unity/Packages/com.improbable.gdk.deploymentlauncher/package.json
  workers/unity/Packages/com.improbable.gdk.gameobjectcreation/package.json
  workers/unity/Packages/com.improbable.gdk.mobile/package.json
  workers/unity/Packages/com.improbable.gdk.playerlifecycle/package.json
  workers/unity/Packages/com.improbable.gdk.querybasedinteresthelper/package.json
  workers/unity/Packages/com.improbable.gdk.testutils/package.json
  workers/unity/Packages/com.improbable.gdk.tools/package.json
  workers/unity/Packages/com.improbable.gdk.transformsynchronization/package.json
Labels: A: build-system, A: core, A: game-object-creation, A: mobile, A: player-lifecycle, A: tooling, A: transform-synchronization, size/M

#1005 Mobile launcher docs
  docs/modules/deployment-launcher/overview.md
  docs/modules/mobile/cloud-deploy.md
  docs/modules/mobile/local-deploy.md
  docs/modules/mobile/overview.md
  docs/modules/mobile/prepare-project.md
  docs/modules/mobile/run-client.md
Labels: T: documentation, size/M
