Repository spatialos/gdk-for-unity, pull requests merged in 2019-12, with the labels that each got.

#1229 Cleared field bugfix of #1211
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/ComponentDiffDeserializerGenerator.tt
Labels: A: core, jira/UTY, size/XS

#1228 UTY-2275 buildsystem refactor
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/BuildConfigEditor.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/BuildContext.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/BuildContext.cs.meta
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/BuildEnvironment.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/BuildTargetConfig.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/WorkerBuildData.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/Util/BuildSupportChecker.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/Util/CommandlineParser.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/Util/CommandlineParser.cs.meta
  workers/unity/Packages/io.improbable.gdk.buildsystem/Util/EditorPaths.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/WorkerBuilder.cs
  workers/unity/ProjectSettings/GraphicsSettings.asset
Labels: A: build-system, jira/UTY, size/XL

#1230 [DOCS] Build system hooks
  docs/modules/build-system/build-config.md
  docs/modules/build-system/build-hooks.md
  docs/modules/build-system/cli.md
  docs/modules/build-system/editor-menu.md
  docs/toc.md
Labels: T: documentation, jira/no-ticket, size/S

#1231 Enable QBI frequency
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.querybasedinteresthelper/InterestQuery.cs
Labels: jira/UTY, size/S

#1232 UTY-2381 Fix log path for port forwarding
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerConnector.cs
Labels: A: core, jira/UTY, size/S

#1235 Update current-version
  docs/variable.properties
Labels: T: documentation, jira/no-ticket, size/XS
