Repository spatialos/gdk-for-unity, pull requests merged in 2020-03, with the labels that each got.

#1308 Remove customreplicators
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentDataGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Components/ISpatialComponentData.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/CustomSpatialOSSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/CustomSpatialOSSendSystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Systems/SpatialOSSendSystemTests.cs
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Systems/SpatialOSSendSystemTests.cs.meta
Labels: A: build-system, A: core, A: game-object-creation, A: mobile, A: playground, A: tooling, jira/no-ticket, size/XL

#1307 Port to QBI first pass
  CHANGELOG.md
  cloud_launch.json
  default_launch.json
  snapshots/default.snapshot
  workers/unity/Assets/Playground/Config/CubeTemplate.cs
  workers/unity/Assets/Playground/Config/PlayerTemplate.cs
  workers/unity/Assets/Playground/Editor/Improbable.Playground.Editor.asmdef
  workers/unity/Assets/Playground/Editor/SnapshotGenerator/SnapshotGenerator.cs
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/SpawnCubeCommandReceiver.cs
  workers/unity/spatialos.MobileClient.worker.json
  workers/unity/spatialos.UnityClient.worker.json
  workers/unity/spatialos.UnityGameLogic.worker.json
Labels: A: playground, jira/no-ticket, size/M

#1310 Generated Docs Pipeline
  .buildkite/generate-docs.definition.yaml
  .buildkite/generate-docs.steps.yaml
  ci/generate-docs.sh
Labels: A: maintenance, jira/no-ticket, size/M

#1305 The beginnings of a useful testing framework
  CHANGELOG.md
  test-project/Assets/EditmodeTests/Improbable.Gdk.EditModeTests.asmdef
  test-project/Assets/EditmodeTests/Subscriptions/InjectionCriteriaTests.cs
  test-project/Assets/EditmodeTests/Subscriptions/RequireablesDisableTests.cs
  test-project/Assets/EditmodeTests/Subscriptions/RequireablesUnlinkTests.cs
  test-project/Assets/EditmodeTests/Subscriptions/WorkerTypeCriteriaTests.cs
  workers/unity/Packages/io.improbable.gdk.core/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MockConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.testutils/Improbable.Gdk.TestUtils.asmdef
  workers/unity/Packages/io.improbable.gdk.testutils/MockBase.cs
  workers/unity/Packages/io.improbable.gdk.testutils/MockBase.cs.meta
  workers/unity/Packages/io.improbable.gdk.testutils/MockWorld.cs
  workers/unity/Packages/io.improbable.gdk.testutils/MockWorld.cs.meta
Labels: A: core, jira/no-ticket, size/XXL

#1304 CodeGen docs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenDocs/0-overview.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenDocs/1-create-codegen-unit.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenDocs/2-write-a-generator.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenDocs/3-using-the-codewriter.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenDocs/faq.md
Labels: A: mobile, A: tooling, jira/no-ticket, size/XXL

#1313 Create EntityRangeCollection for upcoming EntityReservationSystem
  workers/unity/Packages/io.improbable.gdk.core/Collections/EntityRangeCollection.cs
  workers/unity/Packages/io.improbable.gdk.core/Collections/EntityRangeCollection.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Collections.meta
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Collections/EntityRangeCollectionTests.cs
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Collections/EntityRangeCollectionTests.cs.meta
Labels: A: core, jira/no-ticket, size/L

#1311 Use profile markers API for in-game profiling
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTest.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChild.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchild.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameName.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntity.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKey.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValue.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptional.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeated.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingular.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponent.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentUpdateSender.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentSenderGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/NetworkStats/NetworkStatisticsSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/CleanTemporaryComponentsSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/EcsViewSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/EntitySystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/SpatialOSReceiveSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/WorkerSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/View/View.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/Worker.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenDocs/3-using-the-codewriter.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBody.cs
Labels: A: core, A: tooling, jira/no-ticket, size/XXL

#1312 Add `Dump()` method to `CommandLineArgs`
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Utility/CommandLineUtility.cs
Labels: A: core, jira/no-ticket, size/XS

#1314 Entity reservation system
  CHANGELOG.md
  workers/unity/Assets/Playground/Config/WorkerUtils.cs
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/SpawnCubeCommandReceiver.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/EntityReservationSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/EntityReservationSystem.cs.meta
Labels: A: core, A: playground, jira/no-ticket, size/L

#1315 PlayerLifecycle integration with the EntityReservationSystem
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Assets/Playground/Config/PlayerTemplate.cs
  workers/unity/Assets/Playground/Config/WorkerUtils.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Config/PlayerLifecycleConfig.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/PlayerLifecycleHelper.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Systems/PlayerCreation/HandleCreatePlayerRequestSystem.cs
Labels: A: player-lifecycle, A: playground, jira/no-ticket, size/M

#1317 Upgrade to Worker SDK 14.5.0
  CHANGELOG.md
  init.ps1
  init.sh
  spatialos.json
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/DeploymentLauncher.csproj
  workers/unity/Packages/io.improbable.gdk.tools/runtime.pinned
  workers/unity/Packages/io.improbable.worker.sdk/.sdk.version
Labels: A: tooling, jira/no-ticket, size/S

#1319 Fix finding of Android SDK path when using the embedded Android SDK
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.mobile/Editor/AndroidUtils.cs
Labels: A: mobile, jira/no-ticket, size/S

#1320 Include EntityId in method signature for player template
  docs/modules/player-lifecycle/basic-player-creation.md
  docs/modules/player-lifecycle/custom-player-creation.md
Labels: T: documentation, jira/no-ticket, size/XS

#1322 Fix EntityRangeCollection.Dequeue
  workers/unity/Packages/io.improbable.gdk.core/Collections/EntityRangeCollection.cs
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Collections/EntityRangeCollectionTests.cs
Labels: A: core, jira/no-ticket, size/S

#1325 Update README.md
  README.md
Labels: jira/no-ticket, size/XS

#1326 Fix Readers not re-validating with AggregateSubscription
  CHANGELOG.md
  test-project/Assets/EditmodeTests/Subscriptions/RequireablesDisableTests.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentEcsViewManager.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEcsViewManagerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CommandSenderReceiverSubscriptionManagerBase.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/EntityGameObjectLinker.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Reader.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/ReaderSubscriptionManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/RequiredSubscriptionsInjector.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/StandardSubscriptionManagers/EntitySubscriptionManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/StandardSubscriptionManagers/WorldCommands.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/WriterSubscriptionManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/WorkerSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MockConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/GameObjectCreation/UnityComponentReaderWriterGenerator.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitializationSystem.cs
Labels: A: core, A: game-object-creation, jira/no-ticket, size/XXL

#1327 Update in-code link to docs
  workers/unity/Packages/io.improbable.gdk.tools/Common.cs
Labels: A: tooling, jira/no-ticket, size/XS

#1328 Generated docs pipeline part two
  .buildkite/generate-docs.steps.yaml
  ci/generate-docs.sh
Labels: A: maintenance, jira/no-ticket, size/M

#1330 Allow multi-frame entity checkout for GameObject creation
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectCreatorFromMetadata.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitSystemStateComponent.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitSystemStateComponent.cs.meta
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitializationSystem.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/IEntityGameObjectCreator.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/Tests/Editmode/GameObjectCreationTests.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/Tests/Editmode/GameObjectCreationTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/Tests/Editmode/Improbable.Gdk.GameObjectCreation.EditmodeTests.asmdef
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/Tests/Editmode/LinkedGameObjectMapSubscriptionTests.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/Tests/Editmode/MockGameObjectCreator.cs
  workers/unity/Packages/io.improbable.gdk.testutils/MockWorld.cs
Labels: A: game-object-creation, jira/no-ticket, size/XL

#1331 Update last of the old docs links
  CHANGELOG.md
  UPGRADE_GUIDE.md
Labels: jira/no-ticket, size/XS

#1333 Better gameobject initialization
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/EntityTypeExpectations.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/EntityTypeExpectations.cs.meta
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectCreatorFromMetadata.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitializationSystem.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/IEntityGameObjectCreator.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/Tests/Editmode/GameObjectCreationTests.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/Tests/Editmode/MockGameObjectCreator.cs
Labels: A: game-object-creation, jira/no-ticket, size/L

#1335 upgrade guide fix
  UPGRADE_GUIDE.md
Labels: jira/no-ticket, size/XS
