Repository spatialos/gdk-for-unity, pull requests merged in 2020-04, with the labels that each got.

#1340 Upgrade entities to 0.7.0
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Assets/Playground/Scripts/Camera/FollowCameraSystem.cs
  workers/unity/Assets/Playground/Scripts/Camera/InitCameraSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/CollisionProcessSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/CubeMovementSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/ProcessColorChangeSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/TriggerColorChangeSystem.cs
  workers/unity/Assets/Playground/Scripts/DisconnectSystem.cs
  workers/unity/Assets/Playground/Scripts/Metrics/MetricSendSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/LocalPlayerInputSync.cs
  workers/unity/Assets/Playground/Scripts/Player/MoveLocalPlayerSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/PlayerCommandsSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/ProcessLaunchCommandSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/ProcessRechargeSystem.cs
  workers/unity/Assets/Playground/Scripts/Player/ProcessScoresSystem.cs
  workers/unity/Assets/Playground/Scripts/UI/InitUISystem.cs
  workers/unity/Assets/Playground/Scripts/UI/UpdateUISystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/PlayerLoopUtils.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerConnector.cs
  workers/unity/Packages/io.improbable.gdk.core/package.json
  workers/unity/Packages/io.improbable.gdk.debug/NetStatsViewer/NetStatViewer.cs
Labels: A: core, A: playground, jira/no-ticket, size/M

#1338 QBI query component filtering
  CHANGELOG.md
  snapshots/default.snapshot
  workers/unity/Assets/Playground/Config/CubeTemplate.cs
  workers/unity/Assets/Playground/Config/CubeTemplate.cs.meta
  workers/unity/Assets/Playground/Config/EntityTemplates.cs
  workers/unity/Assets/Playground/Config/EntityTemplates.cs.meta
  workers/unity/Assets/Playground/Config/PlayerTemplate.cs
  workers/unity/Assets/Playground/Config/WorkerUtils.cs
  workers/unity/Assets/Playground/Editor/SnapshotGenerator/SnapshotGenerator.cs
  workers/unity/Assets/Playground/Resources/Prefabs/Common/Character.prefab
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/SpawnCubeCommandReceiver.cs
  workers/unity/Assets/Playground/Scripts/OneTimeInitialisation.cs
  workers/unity/Assets/Playground/Scripts/UI/InitUIBehaviour.cs
  workers/unity/Assets/Playground/Scripts/UI/InitUIBehaviour.cs.meta
  workers/unity/Assets/Playground/Scripts/UI/InitUISystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/EntityTemplate.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/Snapshot.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectCreationHelper.cs
  workers/unity/Packages/io.improbable.gdk.querybasedinteresthelper/InterestQuery.cs
Labels: A: core, A: game-object-creation, A: playground, jira/no-ticket, size/XL

#1318 Fastlane
  fastlane/Matchfile
Labels: jira/no-ticket, size/XS

#1343 Unshare Apple ID from fastlane Matchfile
  fastlane/Matchfile
Labels: jira/no-ticket, size/XS

#1342 Set debug names for ecs entities in editor
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitializationSystem.cs
Labels: A: game-object-creation, jira/no-ticket, size/XS

#1344 Remove redundant view command buffer
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/EntityGameObjectLinker.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/ViewCommandBuffer.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/ViewCommandBuffer.cs.meta
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitializationSystem.cs
Labels: A: core, A: game-object-creation, jira/no-ticket, size/L

#1345 CommandDiffStorageBase rename
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandDiffStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandDiffStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandDiffStorageBase.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandDiffStorageBase.cs.meta
Labels: A: core, jira/no-ticket, size/XS

#1346 Update owners file to reflect current team structure
  OWNERS
Labels: jira/no-ticket, size/XS

#1347 Allow headless development builds for Linux
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/BuildConfigEditor.cs
Labels: A: build-system, jira/no-ticket, size/S

#1339 Upgrade to entities 0.9.0
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/UpdateGroups.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/PlayerLoopUtils.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerConnector.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerInWorld.cs
  workers/unity/Packages/io.improbable.gdk.core/package.json
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectCreationHelper.cs
  workers/unity/Packages/manifest.json
  workers/unity/ProjectSettings/BurstAotSettings_StandaloneLinux.json
  workers/unity/ProjectSettings/BurstAotSettings_StandaloneLinux64.json
  workers/unity/ProjectSettings/BurstAotSettings_StandaloneOSX.json
  workers/unity/ProjectSettings/BurstAotSettings_StandaloneWindows.json
  workers/unity/ProjectSettings/ProjectSettings.asset
Labels: A: core, A: game-object-creation, A: playground, jira/no-ticket, size/L

#1350 Upgrade Worker SDK to 14.6.1
  CHANGELOG.md
  workers/unity/Packages/io.improbable.worker.sdk/.sdk.version
Labels: jira/no-ticket, size/XS

#1352 Fix PlayerHeartbeatInitializationSystem
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Systems/PlayerHeartbeat/PlayerHeartbeatInitializationSystem.cs
Labels: A: player-lifecycle, jira/no-ticket, size/S

#1353 Log invalid JSON if error parsing the codegen output
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/GenerateCode.cs
Labels: A: tooling, jira/UTY, size/XS

#1354 Hide Android in mobile launcher if build support not installed
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.mobile/Editor/AndroidUtils.cs
  workers/unity/Packages/io.improbable.gdk.mobile/Editor/MobileLauncherWindow.cs
Labels: A: mobile, jira/UTY, size/S
