Repository spatialos/gdk-for-unity, pull requests merged in 2020-09, with the labels that each got.

#1471 Add `PositionFromGameObject` authoring component
  workers/unity/Assets/Tests/EditmodeTests/Correctness/SceneAuthoring.meta
  workers/unity/Assets/Tests/EditmodeTests/Correctness/SceneAuthoring/PositionFromGameObjectTests.cs
  workers/unity/Assets/Tests/EditmodeTests/Correctness/SceneAuthoring/PositionFromGameObjectTests.cs.meta
  workers/unity/Assets/Tests/EditmodeTests/Improbable.Gdk.EditmodeTests.asmdef
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/AuthoringComponents.meta
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/AuthoringComponents/Improbable.Gdk.Core.SceneAuthoring.AuthoringComponents.asmdef
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/AuthoringComponents/Improbable.Gdk.Core.SceneAuthoring.AuthoringComponents.asmdef.meta
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/AuthoringComponents/PositionFromGameObjectAuthoringComponent.cs
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/AuthoringComponents/PositionFromGameObjectAuthoringComponent.cs.meta
Labels: A: core, A: playground, jira/no-ticket, size/M

#1472 One-to-one GameObject converter
  workers/unity/Packages/io.improbable.gdk.core/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.core/Editor/SceneAuthoring.meta
  workers/unity/Packages/io.improbable.gdk.core/Editor/SceneAuthoring/ConvertToSingleEntityEditor.cs
  workers/unity/Packages/io.improbable.gdk.core/Editor/SceneAuthoring/ConvertToSingleEntityEditor.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/ConvertToSingleEntity.cs
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/ConvertToSingleEntity.cs.meta
Labels: A: core, jira/no-ticket, size/M

#1475 Fix Event Tracing ItemType Conversion
  workers/unity/Packages/io.improbable.worker.sdk/CEventTrace.cs
Labels: jira/no-ticket, size/XS

#1473 UTY-2714: Incorrect entity added/removed callback registration
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/StandardSubscriptionManagers/WorldCommands.cs
Labels: A: core, jira/UTY, size/XS

#1474 Transform Authoring Component
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/MonoBehaviours/TransformFromGameObjectAuthoringComponent.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/MonoBehaviours/TransformFromGameObjectAuthoringComponent.cs.meta
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Tests/Editmode/Improbable.Gdk.TransformSynchronization.EditmodeTests.asmdef
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Tests/Editmode/Systems.meta
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Tests/Editmode/Systems/TickSystemTests.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Tests/Editmode/Systems/TickSystemTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Tests/Editmode/TransformFromGameObjectTests.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Tests/Editmode/TransformFromGameObjectTests.cs.meta
Labels: A: transform-synchronization, jira/no-ticket, size/M

#1479 UTY-2661: Improve snapshot api
  CHANGELOG.md
  workers/unity/Assets/Playground/Editor/SnapshotGenerator/SnapshotGenerator.cs
  workers/unity/Assets/Tests/EditmodeTests/Correctness/Utility/SnapshotTests.cs
  workers/unity/Assets/Tests/EditmodeTests/Correctness/Utility/SnapshotTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Utility/Snapshot.cs
Labels: A: core, A: playground, jira/UTY, size/L

#1480 Bug/worker inspector indentation
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.debug/.codegen/Source/Generators/DebugExtensions/ComponentVisualElementGenerator.cs
  workers/unity/Packages/io.improbable.gdk.debug/.codegen/Source/Generators/DebugExtensions/FieldTypeHandler.cs
  workers/unity/Packages/io.improbable.gdk.debug/.codegen/Source/Generators/DebugExtensions/TypeVisualElementGenerator.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Codegen/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Codegen/VisualElementExtensions.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Codegen/VisualElementExtensions.cs.meta
Labels: jira/no-ticket, size/M
