Repository spatialos/gdk-for-unity, pull requests merged in 2020-01, with the labels that each got.

#1236 Fixup changelog
  CHANGELOG.md
Labels: jira/no-ticket, size/XS

#1238 Remove reference to session flow
  docs/projects/fps/tutorial.md
Labels: T: documentation, jira/no-ticket, size/S

#1237 [UTY-2389] CodeWriter v2: minimum feature set (1/3)
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentType.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTest.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChild.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchild.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntity.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKey.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValue.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptional.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeated.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingular.cs
  test-project/Assets/Generated/Source/improbable/testschema/TypeA.cs
  test-project/Assets/Generated/Source/improbable/testschema/TypeB.cs
  test-project/Assets/Generated/Source/improbable/testschema/TypeC.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/.editorconfig
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen.sln.DotSettings
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/EntryPoint.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/InitializerBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Interfaces/ICodeBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBody.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBodyList.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/CustomScopeBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/IfElseBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/LoopBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/TryCatchBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Text.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/TextList.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/DetailsStore.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/FieldTypes.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/FieldTypes/ContainedType.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/FieldTypes/IFieldType.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/FieldTypes/ListFieldType.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/FieldTypes/MapFieldType.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/FieldTypes/OptionFieldType.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/FieldTypes/SingularFieldType.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/UnityFieldDetails.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Utils/CodeWriter.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Utils/CommonGeneratorUtils.cs
Labels: A: codegen, A: tooling, jira/UTY, size/XXL

#1239 [UTY-2390] CodeWriter v2: namespace, structs, classes, enums, methods, annotations (2/3)
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Interfaces/IAnnotatable.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/EnumBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/MethodBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/NamespaceBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/TypeBlock.cs
Labels: A: tooling, jira/UTY, size/L

#1241 [UTY-2392] Port test-project to new CodeWriter
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandSenderReceiver.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularComponentReaderWriter.cs
  test-project/Packages/io.improbable.gdk.dependencytest/.codegen/Source/Generators/ModularCodegenTestGeneratorPart.cs
  test-project/Packages/io.improbable.gdk.dependencytest/.codegen/Source/Generators/TestProject/ModularCodegenTestGenerator.cs
  test-project/Packages/io.improbable.gdk.dependencytest/.codegen/Source/TestCodegenJob.cs
  test-project/Packages/io.improbable.gdk.dependencytest/.codegen/Templates/ModularCodegenTestGenerator.tt
Labels: jira/UTY, size/M

#1243 Tidied CodeWriter and tweaked API for annotations/methods
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/EntryPoint.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/CodeWriter.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Interfaces/IAnnotatable.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scope.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Annotations.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/EnumBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/MethodBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/NamespaceBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/TypeBlock.cs
Labels: A: tooling, jira/no-ticket, size/L

#1242 [UTY-2393] Port build system module to new CodeWriter
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/Generators/BuildSystem/BuildSystemAssemblyGenerator.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/Generators/BuildSystem/UnityWorkerMenuGenerator.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/Generators/BuildSystemAssemblyGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/Generators/UnityWorkerMenuGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/WorkerGenerationJob.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Templates/BuildSystemAssemblyGenerator.tt
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Templates/UnityWorkerMenuGenerator.tt
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Annotations.cs
Labels: A: build-system, A: tooling, jira/UTY, size/L

#1246 Update copyright in license/readme to 2020
  LICENSE.md
  README.md
Labels: jira/no-ticket, size/XS

#1244 Mimic CodeWriter methods API with enums/ifelse/trycatch/custom blocks
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scope.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBody.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBodyList.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/CustomScopeBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/EnumBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/IfElseBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/LoopBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/NamespaceBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/TryCatchBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/TypeBlock.cs
Labels: A: tooling, jira/no-ticket, size/L

#1245 Expand annotations API
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scope.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Annotations.cs
Labels: A: tooling, jira/no-ticket, size/M

#1247 [UTY-2394] Port gameobject creation module to new CodeWriter
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/GameObjectCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/GameObjectCreation/UnityCommandSenderReceiverGenerator.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/GameObjectCreation/UnityComponentReaderWriterGenerator.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/Parts/UnityCommandSenderReceiverGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/Parts/UnityComponentReaderWriterGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Templates/UnityCommandSenderReceiverGenerator.tt
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Templates/UnityComponentReaderWriterGenerator.tt
Labels: A: game-object-creation, jira/UTY, size/XXL

#1250 Expose text/textlist in generators
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/Abstract/ScopeBody.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/NamespaceBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/TypeBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Text.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/TextList.cs
Labels: A: tooling, jira/no-ticket, size/M

#1248 Port enum/type content and generators
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentType.cs
  test-project/Assets/Generated/Source/improbable/tests/ModularTarget.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedData.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularData.cs
  test-project/Assets/Generated/Source/improbable/testschema/NestedTypeSameName.cs
  test-project/Assets/Generated/Source/improbable/testschema/SomeEnum.cs
  test-project/Assets/Generated/Source/improbable/testschema/SomeType.cs
  test-project/Assets/Generated/Source/improbable/testschema/TypeA.cs
  test-project/Assets/Generated/Source/improbable/testschema/TypeB.cs
  test-project/Assets/Generated/Source/improbable/testschema/TypeC.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEnumContent.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEnumGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityTypeContent.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityTypeGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityEnumContentPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityEnumGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityTypeContentPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityTypeGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityEnumContent.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityEnumGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityTypeContent.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityTypeGenerator.tt
Labels: A: core, A: game-object-creation, A: tooling, jira/no-ticket, size/XXL

#1249 Port event/viewstorage/provider generators
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentProviders.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentViewStorage.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentEvents.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentProviders.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentViewStorage.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildViewStorage.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildViewStorage.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularViewStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEventGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityReferenceTypeProviderContent.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityReferenceTypeProviderGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/ViewStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityEventGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityReferenceTypeProviderContentPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityReferenceTypeProviderGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/ViewStorageGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityEventGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityReferenceTypeProviderContent.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityReferenceTypeProviderGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/ViewStorageGenerator.tt
Labels: A: core, jira/no-ticket, size/XXL

#1251 Port component/command diff storage/deserializer generators
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularComponentDiffStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandDiffDeserializerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandDiffStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/ComponentDiffDeserializerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/ComponentDiffStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/CommandDiffDeserializerGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/CommandDiffStorageGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/ComponentDiffDeserializerGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/ComponentDiffStorageGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/CommandDiffDeserializerGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/CommandDiffStorageGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/ComponentDiffDeserializerGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/ComponentDiffStorageGenerator.tt
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/TextList.cs
Labels: A: core, A: tooling, jira/no-ticket, size/XXL

#1252 Port command payload/view manager/metadata storage/metaclass generators
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandMetaDataStorage.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandPayloads.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentMetaclass.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularEcsViewManager.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandMetaDataStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/MetaclassGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityCommandPayloadGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEcsViewManagerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/CommandMetaDataStorageGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/MetaclassGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityCommandPayloadGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityEcsViewManagerGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/CommandMetaDataStorageGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/MetaclassGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityCommandPayloadGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityEcsViewManagerGenerator.tt
Labels: A: core, jira/no-ticket, size/XXL

#1253 Finish porting core codegen module
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandSenderReceiver.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTest.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChild.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchild.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntity.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKey.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValue.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptional.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeated.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingular.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularUpdateSender.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentDataGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentSenderGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityComponentDataGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Parts/UnityComponentSenderGeneratorPart.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityComponentDataGenerator.tt
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Templates/UnityComponentSenderGenerator.tt
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/GameObjectCreation/UnityCommandSenderReceiverGenerator.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/CodeGen.csproj
Labels: A: core, A: game-object-creation, A: tooling, jira/no-ticket, size/XXL

#1254 [UTY-2396] Remove all T4 references/dependencies
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/CodeGenT4.DotSettings
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/CodeGenT4.sln
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Improbable.TextTemplating/Improbable.TextTemplating.csproj
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Improbable.TextTemplating/TransformAllTask.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/DirectiveProcessor.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/DirectiveProcessorException.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/EncodingHelper.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/Engine.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/Interfaces.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/ParameterDirectiveProcessor.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/RequiresProvidesDirectiveProcessor.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/TextTemplatingSession.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/TextTransformation.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Microsoft.VisualStudio.TextTemplating/ToStringHelper.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating.csproj
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/CompiledTemplate.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/CrossAppDomainAssemblyResolver.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/FileUtil.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/ParsedTemplate.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/RecyclableAppDomain.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/TemplateGenerator.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/TemplateSettings.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/TemplatingEngine.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/Mono.TextTemplating/Mono.TextTemplating/Tokeniser.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenT4/README.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/CodeGen.csproj
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/dependencies/Improbable.TextTemplating/Improbable.TextTemplating.dll
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/dependencies/Improbable.TextTemplating/Mono.TextTemplating.dll
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/dependencies/Improbable.TextTemplating/System.CodeDom.dll
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeWriter/Scopes/MethodBlock.cs
  workers/unity/Packages/io.improbable.gdk.tools/GenerateCode.cs
Labels: A: tooling, jira/UTY, size/XXL

#1255 Simplified dirtybits
  CHANGELOG.md
  UPGRADE_GUIDE.md
  test-project/Assets/Generated/Improbable.Gdk.Generated.asmdef
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponent.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTest.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChild.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchild.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntity.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKey.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValue.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptional.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeated.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingular.cs
  workers/unity/Assets/Generated/Improbable.Gdk.Generated.asmdef
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentDataGenerator.cs
Labels: A: core, A: playground, jira/no-ticket, size/XXL

#1257 Actually skip missing, non-required build targets.
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.buildsystem/Configuration/BuildContext.cs
Labels: A: build-system, jira/UTY, size/XS

#1260 CN environment support
  CHANGELOG.md
  init.sh
  workers/unity/Packages/io.improbable.gdk.buildsystem/WorkerBuilder.cs
  workers/unity/Packages/io.improbable.gdk.core/Config/RuntimeConfig.cs
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Connection/CommandLineConnectionParametersInitializerTests.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerConnector.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/ClientFactory.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Commands/Create.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Commands/List.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Commands/Stop.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/DeploymentLauncher.csproj
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Options.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Program.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/Commands/Assembly.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/Commands/Authentication.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/Commands/Deployment.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/DeploymentConfigurations.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/DeploymentLauncherWindow.cs
  workers/unity/Packages/io.improbable.gdk.mobile/Utility/MobileConnectionParametersInitializer.cs
  workers/unity/Packages/io.improbable.gdk.testutils/Editor/SpatialdManager.cs
  workers/unity/Packages/io.improbable.gdk.testutils/Editor/Tests/SpatialdManagerTests.cs
  workers/unity/Packages/io.improbable.gdk.tools/DevAuthTokenUtils.cs
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfiguration.cs
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfigurationWindow.cs
  workers/unity/Packages/io.improbable.gdk.tools/LocalLaunch.cs
  workers/unity/Packages/io.improbable.gdk.tools/PortForwardingWindow.cs
  workers/unity/Packages/io.improbable.gdk.tools/RedirectedProcess.cs
  workers/unity/Packages/io.improbable.worker.sdk.mobile/Plugins/Improbable/Core/Android/x86.meta
  workers/unity/Packages/io.improbable.worker.sdk.mobile/Plugins/Improbable/Core/Android/x86/libimprobable_worker.so.meta
  workers/unity/Packages/io.improbable.worker.sdk/.sdk.version
Labels: A: build-system, A: core, A: mobile, A: tooling, jira/no-ticket, size/XL

#1261 Update init scripts for cn-production
  CHANGELOG.md
  init.ps1
  init.sh
Labels: jira/no-ticket, size/M

#1256 Generate code generator run configurations
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameName.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameMetaclass.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/NestedTypeSameName.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponent.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentComponentDiffDeserializer.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentComponentDiffStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentComponentReaderWriter.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentMetaclass.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentUpdateSender.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentViewStorage.cs
  test-project/Assets/Generated/Source/improbable/testschema/TypeUsingNestedTypeSameName.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/ComponentDiffStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/EntryPoint.cs
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfiguration.cs
  workers/unity/Packages/io.improbable.gdk.tools/GenerateCode.cs
Labels: A: core, A: tooling, jira/no-ticket, size/XXL

#1262 Fix code generation failures relating to `dotnet template` calls
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/.template.config/template.json
  workers/unity/Packages/io.improbable.gdk.tools/GenerateCode.cs
Labels: A: tooling, jira/no-ticket, size/M
