Repository spatialos/gdk-for-unity, pull requests merged in 2020-08, with the labels that each got.

#1430 UTY-2647: bad sync point in ecs view manager
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEcsViewManagerGenerator.cs
Labels: A: build-system, A: core, A: game-object-creation, A: maintenance, A: player-lifecycle, A: playground, A: tooling, jira/UTY, size/XS

#1446 Update pinned Runtime version
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/runtime.pinned
Labels: A: tooling, jira/UTY, size/XS

#1444 Native Event Tracing IO Wrappers
  CHANGELOG.md
  workers/unity/Packages/io.improbable.worker.sdk/CEventTrace.cs
  workers/unity/Packages/io.improbable.worker.sdk/CIO.cs
  workers/unity/Packages/io.improbable.worker.sdk/IOStorage.cs
  workers/unity/Packages/io.improbable.worker.sdk/IOStorage.cs.meta
  workers/unity/Packages/io.improbable.worker.sdk/IOStream.cs
  workers/unity/Packages/io.improbable.worker.sdk/IOStream.cs.meta
Labels: jira/no-ticket, size/L

#1364 Remove the View
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/ToggleRotationCommandSender.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/MetaclassGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Components/IComponentMetaclass.cs
  workers/unity/Packages/io.improbable.gdk.core/Dynamic/ComponentDatabase.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CommandSenderReceiverSubscriptionManagerBase.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Reader.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/StandardSubscriptionManagers/WorkerFlagSubscriptionManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/WriterSubscriptionManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentUpdateSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/EntitySystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/SpatialOSReceiveSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/WorkerSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/View/View.cs
  workers/unity/Packages/io.improbable.gdk.core/View/View.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/View/ViewStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/View/ViewStorage.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/Worker.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/WorkerDetail.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/GameObjectInitializationSystem.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/PlayerLifecycleHelper.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/MonoBehaviours/TransformSynchronization.cs
Labels: A: core, A: game-object-creation, A: player-lifecycle, A: playground, A: transform-synchronization, jira/no-ticket, size/XL

#1448 UTY-2533: add commands tests for subscription
  workers/unity/Assets/Tests/EditmodeTests/Correctness/Subscriptions/CommandTests.cs
Labels: A: build-system, A: core, A: playground, A: tooling, jira/UTY, size/S

#1443 UTY-2646: new dotnet version
  .buildkite/premerge.steps.yaml
  .buildkite/release-qa.steps.yaml
  CHANGELOG.md
  UPGRADE_GUIDE.md
  ci/shared-ci.pinned
  ci/sonar-scanner.sh
  ci/test.sh
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/DeploymentLauncher.csproj
  workers/unity/Packages/io.improbable.gdk.testutils/.SpotShim/SpotShim/SpotShim/SpotShim.csproj
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/CodeGen.csproj
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/CodeGenerationLib.csproj
Labels: A: maintenance, A: tooling, jira/UTY, size/S

#1451 Removed all usages and support for Authority.AuthorityLossImminent
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/AuthorityConstraintCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/ComponentAuthorityCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/IAuthorityCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/IAuthorityCallbackManager.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Systems/ComponentCallbackSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Systems/RequireLifecycleSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentUpdateSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/MessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ViewDiff.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/GameObjectCreation/UnityComponentReaderWriterGenerator.cs
Labels: A: core, A: game-object-creation, jira/no-ticket, size/M

#1453 Remove `AuthoritativeEntityResolver`
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Packages/io.improbable.gdk.core/Representation/Types/AuthoritativeEntityResolver.cs
  workers/unity/Packages/io.improbable.gdk.core/Representation/Types/AuthoritativeEntityResolver.cs.meta
Labels: A: core, jira/no-ticket, size/M

#1456 Fix `Set Kinematic When Not Authoritative` not being applied correctly.
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Systems/DefaultApplyLatestTransformSystem.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Systems/DefaultUpdateLatestTransformSystem.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Systems/ResetForAuthorityGainedSystem.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Systems/SetKinematicFromAuthoritySystem.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/TransformUtils.cs
Labels: A: transform-synchronization, jira/no-ticket, size/S

#1458 Update Worker SDK version to 14.8.0
  CHANGELOG.md
  spatialos.json
  workers/unity/Packages/io.improbable.worker.sdk/.sdk.version
Labels: jira/no-ticket, size/XS

#1454 Jobify serialization
  CHANGELOG.md
  workers/unity/Assets/Playground/Config/EntityTemplates.cs
  workers/unity/Assets/Tests/PlaymodeTests/Performance/ComponentUpdateTests.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/ComponentDiffDeserializerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/MetaclassGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentReplicationSystemGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentSenderGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Components/IComponentMetaclass.cs
  workers/unity/Packages/io.improbable.gdk.core/Improbable.Gdk.Core.asmdef
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentSendSystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Systems/ComponentUpdateSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/SpatialOSSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/SpatialOSConnectionHandler/SpatialOSConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/MessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerInWorld.cs
  workers/unity/Packages/manifest.json
Labels: A: core, A: playground, jira/no-ticket, size/XL

#1459 Unity 2020.1 Upgrade
  .buildkite/premerge.steps.yaml
  .buildkite/release-qa.steps.yaml
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/.gitignore
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityList.cs
  workers/unity/Packages/manifest.json
  workers/unity/ProjectSettings/PackageManagerSettings.asset
  workers/unity/ProjectSettings/ProjectSettings.asset
  workers/unity/ProjectSettings/ProjectVersion.txt
  workers/unity/ProjectSettings/VersionControlSettings.asset
Labels: A: core, jira/no-ticket, size/M

#1464 Fix search bar overflow in worker inspector
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/WorkerInspectorWindow.uss
Labels: jira/no-ticket, size/XS

#1463 Upgrade to entities 0.14.0-preview.18
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Assets/Tests/PlaymodeTests/Correctness/TransformSynchronization/TransformInitialisationTest.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEcsViewManagerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/PlayerLoopUtils.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerConnector.cs
  workers/unity/Packages/io.improbable.gdk.core/package.json
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityListData.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Systems/PlayerHeartbeat/HandlePlayerHeartbeatResponseSystem.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/MonoBehaviours/TransformSynchronization.cs
  workers/unity/Packages/manifest.json
  workers/unity/ProjectSettings/ProjectSettings.asset
Labels: A: core, A: player-lifecycle, A: playground, A: transform-synchronization, jira/no-ticket, size/M

#1465 Fix authority changes ordering problem
  CHANGELOG.md
  workers/unity/Assets/Tests/EditmodeTests/Correctness/Core/OpOrderingTests.cs
  workers/unity/Assets/Tests/EditmodeTests/Correctness/Core/OpOrderingTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/UpdatesAndEvents/AuthorityComparer.cs
  workers/unity/Packages/io.improbable.gdk.core/UpdatesAndEvents/ComponentUpdateToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/UpdatesAndEvents/UpdateComparer.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MockConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/OpListConverter.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ViewDiff.cs
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/Systems/SetKinematicFromAuthoritySystem.cs
Labels: A: core, A: playground, A: transform-synchronization, jira/no-ticket, size/M

#1467 Upgrade to Burst 1.3.5 to fix broken compile for performance tests
  CHANGELOG.md
  ci/perf-test.sh
  workers/unity/Packages/io.improbable.gdk.core/package.json
Labels: A: core, A: maintenance, jira/no-ticket, size/S

#1469 Fix regression introduced in #1454
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
Labels: A: core, jira/no-ticket, size/XS

#1468 Remove outline around component info button in Worker Inspector
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityListData.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/WorkerInspectorWindow.uss
Labels: jira/no-ticket, size/XS

#1466 Add interfaces for scene authoring
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring.meta
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/IConvertGameObjectToSpatialOsEntity.cs
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/IConvertGameObjectToSpatialOsEntity.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/ISpatialOsAuthoringComponent.cs
  workers/unity/Packages/io.improbable.gdk.core/SceneAuthoring/ISpatialOsAuthoringComponent.cs.meta
Labels: A: core, jira/no-ticket, size/M

#1452 Event Tracing API wrapper
  CHANGELOG.md
  workers/unity/Packages/io.improbable.worker.sdk/CEventTrace.cs
  workers/unity/Packages/io.improbable.worker.sdk/CIO.cs
  workers/unity/Packages/io.improbable.worker.sdk/EventTracing.cs
  workers/unity/Packages/io.improbable.worker.sdk/EventTracing.cs.meta
  workers/unity/Packages/io.improbable.worker.sdk/IOStorage.cs
  workers/unity/Packages/io.improbable.worker.sdk/IOStream.cs
  workers/unity/Packages/io.improbable.worker.sdk/ParameterConversion.cs
  workers/unity/Packages/io.improbable.worker.sdk/ParameterConversion.cs.meta
Labels: jira/no-ticket, size/XXL

#1470 Tools config tooltips
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfigurationProvider.cs
Labels: A: tooling, jira/no-ticket, size/M
