Repository spatialos/gdk-for-unity, pull requests merged in 2020-11, with the labels that each got.

#1487 Reanimate CI
  .buildkite/premerge.steps.yaml
  .buildkite/release-qa.steps.yaml
Labels: jira/no-ticket, size/XS

#1485 Multi-Worker Optimizations
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/ComponentDiffStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentDataGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentReplicationSystemGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEcsViewManagerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Collections/MessageList.cs
  workers/unity/Packages/io.improbable.gdk.core/Collections/ReceivedMessageListExtensions.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandDiffStorageBase.cs
  workers/unity/Packages/io.improbable.gdk.core/Components/ISpatialComponentSnapshot.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/CleanTemporaryComponentsSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/SpatialOSSendSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/UpdateGroups.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/WorkerSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/View/DiffComponentStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/DynamicComponentRequests.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/DynamicComponentRequests.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/MessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorldCommandsReceivedStorage.cs
Labels: A: core, jira/no-ticket, size/XL

#1488 Type cache
  workers/unity/Assets/Playground/Config/WorkerUtils.cs
  workers/unity/Assets/Playground/Scripts/Cubes/CollisionProcessSystem.cs
  workers/unity/Assets/Playground/Scripts/Cubes/CollisionProcessSystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Attributes/RemoveAtEndOfTickAttribute.cs
  workers/unity/Packages/io.improbable.gdk.core/Attributes/RemoveAtEndOfTickAttribute.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Components/NewlyAddedSpatialOSEntity.cs
  workers/unity/Packages/io.improbable.gdk.core/Components/WorkerEntityComponents.cs
  workers/unity/Packages/io.improbable.gdk.core/Dynamic/ComponentDatabase.cs
  workers/unity/Packages/io.improbable.gdk.core/Representation/Editor/EntityRepresentationMappingEditor.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Systems/SubscriptionSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/CleanTemporaryComponentsSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/TypeCache.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/TypeCache.cs.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityDetail.cs
Labels: A: core, A: playground, jira/no-ticket, size/L

#1484 Fix Xcode project modification for iOS Simulator
  CHANGELOG.md
  workers/unity/Packages/io.improbable.worker.sdk.mobile/BuildPostProcessXCode.cs
Labels: jira/no-ticket, size/XS
