Repository spatialos/gdk-for-unity, pull requests merged in 2020-05, with the labels that each got.

#1356 GDK Tools dialog auto-saves
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfiguration.cs
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfigurationWindow.cs
Labels: A: tooling, jira/no-ticket, size/M

#1357 Expose cluster in deployment launcher
  CHANGELOG.md
  workers/unity/Assets/Playground/Config/DeploymentLauncherConfig.asset
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Commands/Create.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Options.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/DeploymentConfigurations.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/DeploymentLauncherWindow.cs
Labels: A: playground, jira/no-ticket, size/M

#1359 Produce test coverage reports
  ci/test.sh
  test-project/Packages/manifest.json
  workers/unity/Packages/manifest.json
Labels: A: maintenance, jira/no-ticket, size/S

#1361 Disable flakey tests on MacOS
  workers/unity/Packages/io.improbable.gdk.testutils/Editor/Tests/SpatialDeploymentManagerTests.cs
  workers/unity/Packages/io.improbable.gdk.testutils/Editor/Tests/SpatialdManagerTests.cs
Labels: jira/no-ticket, size/XS

#1360 Add non-generic overloads to `EntityTemplate`
  CHANGELOG.md
  test-project/Assets/EditmodeTests/Utility/EntityTemplateTests.cs
  workers/unity/Packages/io.improbable.gdk.core/Utility/EntityTemplate.cs
Labels: A: core, jira/no-ticket, size/L

#1358 Better reference provider
  CHANGELOG.md
  test-project/Assets/EditmodeTests/Collections.meta
  test-project/Assets/EditmodeTests/Collections/ReferenceProviderTests.cs
  test-project/Assets/EditmodeTests/Collections/ReferenceProviderTests.cs.meta
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentComponentProviders.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponent.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentProviders.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestChildEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/tests/DependencyTestGrandchildEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ComponentUsingNestedTypeSameNameEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntity.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveEntityProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKey.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapKeyProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValue.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveMapValueProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptional.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveOptionalProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeated.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveRepeatedProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingular.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/ExhaustiveSingularProviders.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponent.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentEcsViewManager.cs
  test-project/Assets/Generated/Source/improbable/testschema/RecursiveComponentProviders.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentDataGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEcsViewManagerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityReferenceTypeProviderContent.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityReferenceTypeProviderGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Collections/ReferenceProvider.cs
  workers/unity/Packages/io.improbable.gdk.core/Collections/ReferenceProvider.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Systems/EcsViewSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/UpdatesAndEvents/ComponentManagers.cs
Labels: A: core, jira/no-ticket, size/XXL

#1348 Simplify callbacks
  CHANGELOG.md
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandSenderReceiver.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/AuthorityConstraintCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/CommandRequestCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/CommandResponseCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/ComponentAddedCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/ComponentAuthorityCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/ComponentEventCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/ComponentRemovedCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/ComponentUpdateCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/EntityAddedCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/EntityRemovedCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/WorkerFlagCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Callbacks/CallbackCollection.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Callbacks/CallbackCollection.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Callbacks/EntityCallbacks.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Callbacks/EntityCallbacks.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Callbacks/IndexedCallbacks.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Callbacks/SingleUseIndexCallbacks.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Callbacks/SingleUseIndexCallbacks.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Systems/CommandCallbackSystem.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/GameObjectCreation/UnityCommandSenderReceiverGenerator.cs
Labels: A: core, A: game-object-creation, jira/no-ticket, size/XL

#1363 Add sonarcloud analysis
  .buildkite/premerge.steps.yaml
  ci/sonar-scanner.sh
Labels: A: maintenance, jira/no-ticket, size/M

#1362 Move test to editmode
  test-project/Assets/EditmodeTests/Improbable.Gdk.EditModeTests.asmdef
  test-project/Assets/EditmodeTests/Subscriptions/SubscriptionAggregateCouplingTests.cs
  test-project/Assets/EditmodeTests/Subscriptions/SubscriptionAggregateCouplingTests.cs.meta
  test-project/Assets/PlaymodeTests/Subscriptions.meta
  workers/unity/Packages/io.improbable.gdk.testutils/MockWorld.cs
Labels: jira/no-ticket, size/M

#1365 Change up worker connector semantics slightly
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Assets/Playground/Scripts/Worker/ClientWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/GameLogicWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/MobileClientWorkerConnector.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerConnector.cs
Labels: A: core, A: playground, jira/no-ticket, size/M

#1366 Use correct platform API endpoint for DAT in Deployment Launcher
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/ClientFactory.cs
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/.DeploymentLauncher/Commands/Create.cs
Labels: jira/no-ticket, size/S

#1367 Remove the MultiThreadedSpatialOSConnectionHandler
  CHANGELOG.md
  UPGRADE_GUIDE.md
  test-project/Assets/Generated/Source/improbable/dependentschema/DependentDataComponentCommandDiffDeserializer.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandDiffDeserializerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/CommandMetaData.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/CommandMetaDataAggregate.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/CommandMetaDataAggregate.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/CommandMetaDataManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/CommandMetaDataManager.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ComponentOpDeserializer.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ConcurrentOpListConverter.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ConcurrentOpListConverter.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ConcurrentPool.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ConcurrentPool.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/MultiThreadedSpatialOSConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/MultiThreadedSpatialOSConnectionHandler.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ThreadedDeserializationHandler.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ThreadedDeserializationHandler.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ThreadedSerializationHandler.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MultithreadedSpatialOSConnectionHandler/ThreadedSerializationHandler.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/SpatialOSConnectionHandler/SpatialOSConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/SpatialOSConnectionHandlerBuilder.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/MessageSerialization.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/OpListConverter.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
Labels: A: core, jira/no-ticket, size/XXL

#1368 Remove `soft_fail` from sonarscanner
  .buildkite/premerge.steps.yaml
Labels: jira/no-ticket, size/XS

#1369 Add worker sdk override env variables
  init.ps1
  init.sh
Labels: jira/no-ticket, size/S

#1370 Add convenience method to the `MockConnection`
  CHANGELOG.md
  test-project/Assets/EditmodeTests/Collections/ReferenceProviderTests.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MockConnectionHandler.cs
Labels: A: core, jira/no-ticket, size/M

#1373 Update runtime 14.5.2
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.tools/runtime.pinned
Labels: A: tooling, jira/no-ticket, size/XS

#1372 Typed command ids
  CHANGELOG.md
  UPGRADE_GUIDE.md
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandDiffDeserializerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandMetaDataStorageGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityCommandPayloadGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Collections/ReceivedMessageListExtensions.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandComponents.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandDiffStorageBase.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandMetaData.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandMetaData.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandRequestId.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandRequestId.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandSendStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandDiffDeserializer.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandDiffDeserializer.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandMetaDataStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandMetaDataStorage.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandRequestSendStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandRequestSendStorage.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandResponseSendStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandResponseSendStorage.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandSendStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandSendStorage.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandSerializer.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/ICommandSerializer.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/IComponentCommandSendStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/IComponentCommandSendStorage.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Commands/WorldCommands/CreateEntity.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/WorldCommands/DeleteEntity.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/WorldCommands/EntityQuery.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/WorldCommands/ReserveEntityIds.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CallbackManagers/CommandResponseCallbackManager.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/Systems/CommandCallbackSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/CommandSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/EntityReservationSystem.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/CommandSendStorage .cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/CommandSendStorage .cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Worker/ComponentOpDeserializer.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/SpatialOSConnectionHandler/SpatialOSConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/DiffStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/MessageSerialization.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/MessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/OpListConverter.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorldCommandMetaDataStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorldCommandSerializer.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorldCommandsReceivedStorage.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorldCommandsToSendStorage.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Systems/PlayerCreation/SendCreatePlayerRequestSystem.cs
Labels: A: core, A: player-lifecycle, jira/no-ticket, size/XXL

#1316 Refactor out `WorldSelector` element
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Editor/Improbable.Gdk.Core.Editor.asmdef
  workers/unity/Packages/io.improbable.gdk.core/Editor/UIElements.meta
  workers/unity/Packages/io.improbable.gdk.core/Editor/UIElements/WorldSelector.cs
  workers/unity/Packages/io.improbable.gdk.core/Editor/UIElements/WorldSelector.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Editor/UIElements/WorldSelector.uss
  workers/unity/Packages/io.improbable.gdk.core/Editor/UIElements/WorldSelector.uss.meta
  workers/unity/Packages/io.improbable.gdk.core/Editor/UIElements/WorldSelector.uxml
  workers/unity/Packages/io.improbable.gdk.core/Editor/UIElements/WorldSelector.uxml.meta
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Editor.meta
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Editor/UIElements.meta
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Editor/UIElements/WorldSelectorTests.cs
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Editor/UIElements/WorldSelectorTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Improbable.Gdk.Core.EditmodeTests.asmdef
  workers/unity/Packages/io.improbable.gdk.debug/Improbable.Gdk.Debug.asmdef
  workers/unity/Packages/io.improbable.gdk.debug/NetStatsViewer/NetStatViewer.cs
  workers/unity/Packages/io.improbable.gdk.debug/NetStatsViewer/Templates/NetStatsWindow.uss
  workers/unity/Packages/io.improbable.gdk.debug/NetStatsViewer/Templates/NetStatsWindow.uxml
Labels: A: core, jira/no-ticket, size/L

#1376 Add first class support for 'Editor-only' generated code
  CHANGELOG.md
  UPGRADE_GUIDE.md
  test-project/.gitignore
  test-project/Packages/io.improbable.gdk.dependencytest/.codegen/Source/TestCodegenJob.cs
  workers/unity/.gitignore
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/WorkerGenerationJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/GameObjectCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/CodeGeneratorOptions.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/EntryPoint.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Jobs/CodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Jobs/CodegenJobOptions.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Tests/Jobs/CodegenJobTests.cs
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfiguration.cs
  workers/unity/Packages/io.improbable.gdk.tools/GdkToolsConfigurationWindow.cs
  workers/unity/Packages/io.improbable.gdk.tools/GenerateCode.cs
Labels: A: build-system, A: core, A: game-object-creation, A: tooling, jira/no-ticket, size/M

#1375 Worker Inspector window & Entity List
  workers/unity/Packages/io.improbable.gdk.core/EntityId.cs
  workers/unity/Packages/io.improbable.gdk.core/Systems/EntitySystem.cs
  workers/unity/Packages/io.improbable.gdk.debug/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.debug/AssemblyInfo.cs.meta
  workers/unity/Packages/io.improbable.gdk.debug/Improbable.Gdk.Debug.asmdef
  workers/unity/Packages/io.improbable.gdk.debug/Tests.meta
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode.meta
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode/Improbable.Gdk.Debug.EditmodeTests.asmdef
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode/Improbable.Gdk.Debug.EditmodeTests.asmdef.meta
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode/WorkerInspector.meta
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode/WorkerInspector/EntityListDataTests.cs
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode/WorkerInspector/EntityListDataTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode/WorkerInspector/EntitySearchParametersTests.cs
  workers/unity/Packages/io.improbable.gdk.debug/Tests/Editmode/WorkerInspector/EntitySearchParametersTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityList.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityList.cs.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityListData.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntityListData.cs.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntitySearchParameters.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/EntitySearchParameters.cs.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/EntityList.uxml
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/EntityList.uxml.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/WorkerInspectorWindow.uss
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/WorkerInspectorWindow.uss.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/WorkerInspectorWindow.uxml
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/Templates/WorkerInspectorWindow.uxml.meta
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/WorkerInspectorWindow.cs
  workers/unity/Packages/io.improbable.gdk.debug/WorkerInspector/WorkerInspectorWindow.cs.meta
Labels: A: core, jira/no-ticket, size/XXL
