Repository spatialos/gdk-for-unity, pull requests merged in 2021-01, with the labels that each got.

#1490 Command short circuit + request id fix
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/CommandDiffDeserializerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
Labels: A: core, jira/no-ticket, size/S

#1492 Add logging extensions
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Logging/LogDispatcherExtensions.cs
  workers/unity/Packages/io.improbable.gdk.core/Logging/LogDispatcherExtensions.cs.meta
Labels: A: core, jira/no-ticket, size/XL

#1493 Fix `WorldCommandSender`
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandSender.cs
  workers/unity/Packages/io.improbable.gdk.core/Commands/CommandSender.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/CommandSenderReceiverSubscriptionManagerBase.cs
  workers/unity/Packages/io.improbable.gdk.core/Subscriptions/StandardSubscriptionManagers/WorldCommands.cs
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/.codegen/Source/Generators/GameObjectCreation/UnityCommandSenderReceiverGenerator.cs
Labels: A: core, A: game-object-creation, jira/no-ticket, size/L

#1494 SpatialDeploymentManager requires runtime version
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Tests/Editmode/Connection/ReceptionistFlowTests.cs
  workers/unity/Packages/io.improbable.gdk.testutils/Editor/SpatialDeploymentManager.cs
  workers/unity/Packages/io.improbable.gdk.testutils/Editor/Tests/SpatialDeploymentManagerTests.cs
Labels: A: core, jira/no-ticket, size/S

#1496 Add LB feature module
  CHANGELOG.md
  schema/playground/component_sets.schema
  workers/unity/Assets/Playground/Config/BuildConfiguration.asset
  workers/unity/Assets/Playground/Config/EntityTemplates.cs
  workers/unity/Assets/Playground/Config/LoadBalancerPrefabMapping.asset
  workers/unity/Assets/Playground/Config/LoadBalancerPrefabMapping.asset.meta
  workers/unity/Assets/Playground/Improbable.Playground.asmdef
  workers/unity/Assets/Playground/Prefabs/Worker/LoadBalancerWorkerConnector.prefab
  workers/unity/Assets/Playground/Prefabs/Worker/LoadBalancerWorkerConnector.prefab.meta
  workers/unity/Assets/Playground/Scenes/LoadBalancerScene.unity
  workers/unity/Assets/Playground/Scenes/LoadBalancerScene.unity.meta
  workers/unity/Assets/Playground/Scenes/SampleScene.unity
  workers/unity/Assets/Playground/Scripts/LoadBalancing.meta
  workers/unity/Assets/Playground/Scripts/LoadBalancing/BootstrapLoadBalancing.cs
  workers/unity/Assets/Playground/Scripts/LoadBalancing/BootstrapLoadBalancing.cs.meta
  workers/unity/Assets/Playground/Scripts/Worker/LoadBalancerWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/LoadBalancerWorkerConnector.cs.meta
  workers/unity/Packages/io.improbable.gdk.core/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ConnectionHandlers/MockConnectionHandler.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/.schema/improbable/gdk/loadbalancing/partition.schema
  workers/unity/Packages/io.improbable.gdk.loadbalancing/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing/AssemblyInfo.cs.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Improbable.Gdk.LoadBalancing.asmdef
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Improbable.Gdk.LoadBalancing.asmdef.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/LoadBalancingHelper.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing/LoadBalancingHelper.cs.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/ClassifyWorkersSystem.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/ClassifyWorkersSystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/PartitionManagementSystem.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/PartitionManagementSystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/PointsOfInterestStrategySystem.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/PointsOfInterestStrategySystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/SingletonStrategySystem.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/SingletonStrategySystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Tests.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Tests/Editmode.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Tests/Editmode/Improbable.Gdk.LoadBalancing.EditmodeTests.asmdef
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Tests/Editmode/Improbable.Gdk.LoadBalancing.EditmodeTests.asmdef.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Tests/Editmode/PartitionManagementSystemTests.cs
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Tests/Editmode/PartitionManagementSystemTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.loadbalancing/package.json
  workers/unity/Packages/io.improbable.gdk.loadbalancing/package.json.meta
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/AssemblyInfo.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/AssemblyInfo.cs.meta
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Improbable.Gdk.PlayerLifecycle.asmdef
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Systems/ClientLoadBalancingSystem.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Systems/ClientLoadBalancingSystem.cs.meta
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Tests.meta
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Tests/Editmode.meta
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Tests/Editmode/ClientLoadBalancingSystemTests.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Tests/Editmode/ClientLoadBalancingSystemTests.cs.meta
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Tests/Editmode/Improbable.Gdk.PlayerLifecycle.EditmodeTests.asmdef
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Tests/Editmode/Improbable.Gdk.PlayerLifecycle.EditmodeTests.asmdef.meta
  workers/unity/Packages/io.improbable.gdk.testutils/MockWorld.cs
  workers/unity/spatialos.UnityLoadBalancer.worker.json
Labels: A: core, A: game-object-creation, A: mobile, A: player-lifecycle, A: playground, A: tooling, A: transform-synchronization, jira/no-ticket, size/XXL

#1498 Replication changes v15
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/ComponentDiffDeserializerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/MetaclassGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityComponentReplicationSystemGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/UnityEcsViewManagerGenerator.cs
  workers/unity/Packages/io.improbable.gdk.core/Components/IComponentMetaclass.cs
  workers/unity/Packages/io.improbable.gdk.core/Logging/ForwardingDispatcher.cs
  workers/unity/Packages/io.improbable.gdk.core/UpdatesAndEvents/ComponentManagers.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/MessageSerialization.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/SerializedMessagesToSend.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/WorkerInWorld.cs
Labels: A: core, jira/no-ticket, size/M

#1497 Remove entity query loop from `SendCreatePlayerRequestSystem`.
  workers/unity/Assets/Playground/Editor/SnapshotGenerator/SnapshotGenerator.cs
  workers/unity/Assets/Playground/Scripts/OneTimeInitialisation.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Config/PlayerLifecycleConfig.cs
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/Systems/PlayerCreation/SendCreatePlayerRequestSystem.cs
Labels: A: player-lifecycle, A: playground, jira/no-ticket, size/L

#1499 Use stable v15 release
  workers/unity/Packages/io.improbable.gdk.tools/runtime.pinned
  workers/unity/Packages/io.improbable.worker.sdk/.sdk.version
Labels: A: tooling, jira/no-ticket, size/XS

#1500 Add support for Self constraint to QBI helper module
  CHANGELOG.md
  workers/unity/Assets/Playground/Config/EntityTemplates.cs
  workers/unity/Assets/Tests/EditmodeTests/Correctness/Utility/ConstraintTests.cs
  workers/unity/Packages/io.improbable.gdk.querybasedinteresthelper/Constraint.cs
Labels: A: playground, jira/no-ticket, size/S

#1503 Remove ability to receive internal metrics from Worker SDK
  CHANGELOG.md
  workers/unity/Packages/io.improbable.gdk.core/Worker/OpListConverter.cs
  workers/unity/Packages/io.improbable.gdk.core/Worker/ViewDiff.cs
  workers/unity/Packages/manifest.json
Labels: A: core, jira/no-ticket, size/S

#1502 Update minimum Unity version in packages to 2020.1
  workers/unity/Packages/io.improbable.gdk.buildsystem/package.json
  workers/unity/Packages/io.improbable.gdk.core/package.json
  workers/unity/Packages/io.improbable.gdk.debug/package.json
  workers/unity/Packages/io.improbable.gdk.deploymentlauncher/package.json
  workers/unity/Packages/io.improbable.gdk.gameobjectcreation/package.json
  workers/unity/Packages/io.improbable.gdk.loadbalancing/package.json
  workers/unity/Packages/io.improbable.gdk.mobile/package.json
  workers/unity/Packages/io.improbable.gdk.playerlifecycle/package.json
  workers/unity/Packages/io.improbable.gdk.querybasedinteresthelper/package.json
  workers/unity/Packages/io.improbable.gdk.testutils/package.json
  workers/unity/Packages/io.improbable.gdk.tools/package.json
  workers/unity/Packages/io.improbable.gdk.transformsynchronization/package.json
  workers/unity/Packages/io.improbable.gdk.transformsynchronization2d/package.json
  workers/unity/Packages/io.improbable.worker.sdk.mobile/package.json
  workers/unity/Packages/io.improbable.worker.sdk/package.json
Labels: A: build-system, A: core, A: game-object-creation, A: mobile, A: player-lifecycle, A: tooling, A: transform-synchronization, jira/no-ticket, size/S

#1501 Fix unnecessary `AuthorityDelegation` component updates
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Improbable.Gdk.LoadBalancing.asmdef
  workers/unity/Packages/io.improbable.gdk.loadbalancing/Systems/PointsOfInterestStrategySystem.cs
Labels: jira/no-ticket, size/S

#1504 Generate WorkerTypes.cs
  CHANGELOG.md
  workers/unity/Assets/Playground/Scripts/MonoBehaviours/WorkerFlagTest.cs
  workers/unity/Assets/Playground/Scripts/Worker/ClientWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/GameLogicWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/LoadBalancerWorkerConnector.cs
  workers/unity/Assets/Playground/Scripts/Worker/MobileClientWorkerConnector.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/Generators/BuildSystem/UnityWorkerMenuGenerator.cs
  workers/unity/Packages/io.improbable.gdk.buildsystem/.codegen/Source/WorkerGenerationJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/CoreCodegenJob.cs
  workers/unity/Packages/io.improbable.gdk.core/.codegen/Source/Generators/Core/WorkerTypesGenerator.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGen/EntryPoint.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Model/Details/DetailsStore.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Tests/Jobs/CodegenJobTests.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Tests/Model/DetailsStoreTests.cs
  workers/unity/Packages/io.improbable.gdk.tools/.CodeGenTemplate/CodeGenerationLib/Tests/Model/NameClashingTests.cs
Labels: A: build-system, A: core, A: game-object-creation, A: mobile, A: player-lifecycle, A: playground, A: tooling, A: transform-synchronization, jira/no-ticket, size/L
